.heading
{
	text-align:center;
	color :white;
    font-size:5.4em;
	font-style:italic;
	margin-left: 2em;
	margin-right: 2em;
}
p
{
	text-align:left;
	color :white;
	line-height: 1.5em;
	font-size:1.22em;
	font-family:sans-serif;
	margin-left: 2em;
	margin-right: 2em;
}
h3
{
	text-align:left;
	color :black;
	font-weight: bold;
	font-size:1.44em;
	margin-left: 2em;
	margin-right: 2em;
}